<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <title>Login Page</title>
  </head>
  <body>
    <h1>Log In to View the Page</h1>
    <form>
      <label><strong>Username:</strong></label>
      <input type="text" name="username" id="username" />
      <label><strong>Password:</strong></label>
      <input type="password" id="pwd" />
      <button type="button" onclick="formSubmit()">Sign In</button>
    </form>
  </body>
  <script>
    function formSubmit() {
      $.ajax({
        type: "POST",
        url: "/form_login",
        data: { username: $("#username").val(), password: $("#pwd").val() },
        success: function(data) {
          console.log(data)
        }
      });
    };
  </script>
</html>
