{% extends 'base.html' %}

{% block content %}
<div id="border-box">
<div class="left">
<h1>Login</h1>
<form method="POST" action="/form_login">
  <label><strong>Username:</strong></label>
  <input type="text" name="username" id="username" />
  <p id="username-error"></p>
  <label><strong>Password:</strong></label>
  <input type="password" id="password" />
  <p id="password-error"></p>
  <button class="button" type="button" onclick="formSubmit()">Sign In</button>
  <p><a href="/password-reset">Forgot Password</a></p>
</form>
</div>
</div>
{% endblock %}

{% block javascript %}
<script>
function formSubmit() {
  $.ajax({
    type: "POST",
    url: "/form_login",
    data: { username: $("#username").val(), password: $("#password").val() },
    success: function(data) {
      console.log(data)
      loginCheck(data)
    }
  });
};
function loginCheck(data){
  console.log(data)
  if (data["status"] == "fail") {
    for (let invalid_feedback of data["invalid_fields"]) { 
      document.getElementById(invalid_feedback['id'] + "-error").innerHTML = invalid_feedback["message"]
    }
  } else if (data["status"] == "success") {
    window.location.replace("/")
  }
}
</script>
{% endblock %}
