{% extends 'base.html' %}

{% block content %}
<h1>Please enter your email below:</h1>
  <form method="POST" action="/resend-verification-link">
    <label><strong>Email:</strong></label>
    <input type="email" name="email" id="email" />
    <p id="email-error"></p>
    <button type="button" onclick="formSubmit()">Send Link!</button>
  </form>
{% endblock %}

{% block javascript %}
<script>
  function formSubmit() {
    $.ajax({
      type: "POST",
      url: "/resend-verification-link",
      data: { email: $("#email").val()
    },
      success: function (data) {
          console.log(data);
        },
    });
  }
</script>
{% endblock %}