{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Reset your Password{% endblock %}</h1>
<form method="POST" action="/password-reset">
  <label><strong>Email:</strong></label>
  <input type="email" name="email" id="email" />
  <p id="email-error"></p>
  <label><strong>Password:</strong></label>
    <input type="password" name="password" id="password" />
    <label><strong>Confirm Password:</strong></label>
    <input type="password" name="confirm_password" id="confirm_password" />
    <p id="password-error"></p>
  <button type="button" onclick="formSubmit()">Reset Password</button>
</form>
{% endblock %}

{% block javascript %}
<script>
function formSubmit() {
  $.ajax({
    type: "POST",
    url: "/password-reset",
    data: { 
      email: $("#email").val(),
      password: $("#password").val(),
      confirm_password: $("#confirm_password").val(),
  },
    success: function (data) {
        console.log(data);
      },
  });
}
</script>
{% endblock %}