<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  <title>Password Reset</title>
</head>
<body>
  <h1>Please enter your email below:</h1>
  <form>
    <label><strong>Email:</strong></label>
    <input type="email" name="email" id="email" />
    <p id="email-error"></p>
    <label><strong>Password:</strong></label>
      <input type="password" name="password" id="password" />
      <label><strong>Confirm Password:</strong></label>
      <input type="password" name="confirm_password" id="confirm_password" />
      <p id="password-error"></p>
    <button type="button" onclick="formSubmit()">Reset Password</button>
  </form>
</body>
<script>
  function formSubmit() {
    $.ajax({
      type: "POST",
      url: "/password-reset",
      data: { 
        email: $("#email").val(),
        password: $("#password").val(),
        confirm_password: $("#confirm_password").val(),
    },
      success: function (data) {
          console.log(data);
        },
    });
  }
</script>
</html>