{% extends 'base.html' %}

{% block content %}
<div id="border-box">
<div class="left">
<h1>Register!</h1>
<form method="POST" action="/signup">
  <label><strong>Name:</strong></label>
  <input type="text" name="name" id="name" />
  <label><strong>Username:</strong></label>
  <input type="text" name="username" id="username" />
  <p id="username-error"></p>
  <label><strong>Email:</strong></label>
  <input type="text" name="email" id="email" />
  <label><strong>Password:</strong></label>
  <input type="password" name="password" id="password" />
  <label><strong>Confirm Password:</strong></label>
  <input type="password" name="confirm_password" id="confirm_password" />
  <p id="password-error"></p>
  <p id="emailSent-error"></p>
  <button class="button" type="button" onclick="formSubmit()">Sign Up</button>
  <p>If you have an account click <a href="/form_login">log in</a></p>
</form>
</div>
</div>
{% endblock %}

{% block javascript %}
<script>
  function formSubmit() {
      $.ajax({
        type: "POST",
        url: "/signup",
        data: {
          name: $("#name").val(),
          username: $("#username").val(),
          email: $("#email").val(),
          password: $("#password").val(),
          confirm_password: $("#confirm_password").val(),
        },
        success: function (data) {
          signUpCheck(data)
          console.log(data);
        },
      });
    }
    function signUpCheck(data){
    if (data["status"] == "fail") {
      for (let invalid_feedback of data["invalid_fields"]){ 
      document.getElementById(invalid_feedback['id'] + "-error").innerHTML = invalid_feedback["message"]
    }
  } else if (data["status"] == "success") {
    window.location.replace("/")
  }
}
</script>

{% endblock %}