<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
  </head>
  <body>
    <form>
      <label><strong>Email:</strong></label>
      <input type="text" name="email" id="email" />
      <label><strong>Name:</strong></label>
      <input type="text" name="name" id="name" />
      <label><strong>Username:</strong></label>
      <input type="text" name="username" id="username" />
      <p id="username-error"></p>
      <label><strong>Password:</strong></label>
      <input type="password" id="password" />
      <p id="password-error"></p>
      <button type="button" onclick="formSubmit()">Sign Up</button>
    </form>
  </body>
</html>
