<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <title>Registration</title>
  </head>
  <body>
    <form>
      <label><strong>Name:</strong></label>
      <input type="text" name="name" id="name" />
      <label><strong>Username:</strong></label>
      <input type="text" name="username" id="username" />
      <p id="username-error"></p>
      <label><strong>Password:</strong></label>
      <input type="password" name="password" id="password" />
      <label><strong>Confirm Password:</strong></label>
      <input type="password" name="confirm_password" id="confirm_password" />
      <p id="password-error"></p>
      <button type="button" onclick="formSubmit()">Sign Up</button>
    </form>
  </body>
  <script>
    function formSubmit() {
      $.ajax({
        type: "POST",
        url: "/signup",
        data: {
          name: $("#name").val(),
          username: $("#username").val(),
          password: $("#password").val(),
          confirm_password: $("#confirm_password").val(),
        },
        success: function (data) {
          console.log(data);
        },
      });
    }
  </script>
</html>
