<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Confirmation</title>
  </head>
  <body>
    <h1>Confirm Your Email Address</h1>
    <p>
      Tap the button below to confirm your email address. If you didn't create
      an account with (company name), you can safely delete this email.
    </p>
    <button type="button" onclick="formSubmit()">Verify Email></button>
  </body>
</html>
